.login-form-container{
    text-align: center;
}

.form-field-width{
    width:40%;
}

.login-header{
    margin-top: 5%;
}

.login-button, .reset-button{
    margin: 30px;
}

.login-error{
    color: red;
    font-weight: bold;
}

a:link {
    text-decoration: underline;
  }