<div class="container login-form-container">
  <div class="login">
    <h3 class="login-header">Login</h3>
    <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login()">

      <div class="form-group">
        <mat-form-field class="form-field-width">
          <input matInput placeholder="User Name" formControlName="userName">
          <mat-error *ngIf="userName.errors">User Name is required</mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field class="form-field-width">
          <input type="password" matInput placeholder="Password" formControlName="password">
          <mat-error *ngIf="password.errors">Password is required</mat-error>
        </mat-form-field>
      </div>

      <p class="login-error" *ngIf="isLoginError===true">{{showLoginErrorMessage}}</p>

      <div class="form-group">
        <button class="btn btn-primary login-button" [disabled]="!loginForm.valid" type="submit">Login</button>
        <button class="btn btn-primary reset-button" type="reset" [disabled]="!loginForm.touched">Reset</button>
        <div>
          <a href="javascript:void(0)" (click)="redirectToRegister()">Register in Student OnBoarding Webapp</a>
        </div>
      </div>
    </form>
  </div>
</div>