<div class="container register-container">
  <div class="register">
    <h3 class="register-header">Register</h3>
    <form [formGroup]="registerForm" class="register-container" (ngSubmit)="register()">
  
      <div class="form-group">
        <mat-form-field class="form-field-width">
          <input matInput placeholder="UserName" formControlName="userName">
          <mat-error *ngIf="userName.errors">Username is required</mat-error>
         </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field class="form-field-width">
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="email.errors">Email is required</mat-error>
         </mat-form-field>
      </div>
  
      <div class="form-group">
        <mat-form-field class="form-field-width">
          <input matInput placeholder="Password" formControlName="password">
          <mat-error *ngIf="password.errors">Password is required</mat-error>
         </mat-form-field>
      </div> 
  
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Register</button>
      </div>
    </form>
  </div>
  </div>
  