.form-field-full-width {
    width: 100%;
  }
  
.document-margin {
   margin: 0 10px;
}

.document-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 50px;
}

.asterisk-field {
    float: right;
    color: red;
}

.form-heading {
    text-align: center;
    margin-top: 10px;
}

.student-id-field {
    display: none;
}

.on-boarding-form-button {
    margin-right: 30px;
}