<div class="container justify-content-center">
  <form id="categoryFilter" class="filter-container">
    <mat-form-field class="form-field-full-width" *ngIf="this.noDataFound===false">
      <mat-label>All</mat-label>
      <mat-select [(value)]="selected">
        <mat-option>All</mat-option>
        <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="filter-student-input" *ngIf="this.noDataFound===false">
    <input matInput type="text" placeholder="Search Student" [(ngModel)]="term" name="term" />
  </mat-form-field>
  </form>

  <p class="no-record-found-text" *ngIf="this.noDataFound===true">No Records Found</p>

  <div class="container students-container">
      <div *ngFor="let student of students | filterStudents:term | categoryfilter:selected" class='layout-students'>
        <mat-card [ngStyle]="{'background-color': (student.category === 1)? 'lightcyan' : 'papayawhip'}" class="student-card">
          <mat-card-header>
            <div mat-card-avatar class="student-header-image"></div>
            <mat-card-title>{{student.studentName}}</mat-card-title>
          </mat-card-header>
          <p *ngIf="student.category === 1">Domestic</p>
          <p *ngIf="student.category === 2">International</p>
          <mat-card-content class="category-text">
              <table class="key-value-table ux-light-table">
                  <tbody>
                      <tr>
                          <td><b>Father's Name : </b></td>
                          <td>{{student.fathersName}}</td>
                      </tr>
                      <tr>
                          <td><b>Mother's Name : </b></td>
                          <td>{{student.mothersName}}</td>
                      </tr>                     
                  </tbody>
              </table>
            
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="btn btn-outline-success list-students-button" (click)="editStudentData(this.student)">Edit</button>
            <button mat-button class="btn btn-outline-info list-students-button" (click)="viewStudentData(this.student)">View</button>
            <button mat-button class="btn btn-outline-danger list-students-button" (click)="openDeleteModal(this.student.studentId)">Delete</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>


  
</div>